@import './loader/loader.scss';

body {
  background-color: rgb(252, 252, 252);
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}


a {
  text-decoration: none;
  color: #27AE60;
}

a:focus, a:active, a:hover {
  color: green;
}

th {
  font-size: 0.7rem;
}


td {
  font-size: 0.55rem;
}

td, .card {
  cursor: pointer;
}

.card {
  h5 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }
}

form .input-group span {
  font-size: 0.75rem;
}

.card:hover .btn:hover {
  background-color: #27AE60;
  border: none;
}
.card, tr{
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover {
  transform: scaleY(1.025);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  border: #27AE60 1px solid
}